.btn {
    min-width: 180px
}

.navbarLanguageChooseLi {
    min-width: 180px;
}

.activeA {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.inactiveA {
    color: black;
    font-weight: normal;
    cursor: pointer;
}